.hero-top-container {
  margin: 0px 0px 100px 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-img-container {
  width: 50vw;
  height: 80vh;
}

.hero-img-container {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container,
.info-container-forget-me-not,
.info-container-classics,
.info-container-pirouette,
.info-container-sunflower,
.info-container-diamond-loop,
.info-container-sparkling-cluster {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: var(--small-font-size);
  margin: 20px 0px;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  text-align: center;
  font-family: var(--bold-italic-font-family);
  font-size: var(--extra-large-font-size);
  padding: 0px;
}
.box-paragraph {
  text-align: center;
  width: 50%;
}

.info-container-forget-me-not {
  background-color: #fcd3d386 !important;
}

.info-container-classics {
  background-color: #efd0c445 !important;
}

.info-container-pirouette {
  background-color: #ead7c063 !important;
}

.info-container-sunflower {
  background-color: #f5c6503c !important;
}

.info-container-diamond-loop {
  background-color: #f7eedd41 !important;
}

.info-container-sparkling-cluster {
  background-color: #f3c19f39 !important;
}
