.sort-by-container {
  color: var(--middle-gray);
  font-family: var(--bold-font-family);
  font-size: var(--small-font-size);
}

.sort-by-container {
  position: absolute;
  right: 0;
  display: flex;
  gap: 8px;
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--bold-font-family);
  font-size: var(--small-font-size);
  background-color: var(--white);
  z-index: 4;
  position: absolute;
  top: 40px;
  width: 100%;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    top: 30px;
  }
}

.circle {
  padding-right: 8px;
  height: 8px;
  vertical-align: middle;
  color: var(--white);
}

.circle-selected {
  color: var(--dark-pink);
}

.sort-button {
  text-decoration: none;
  color: var(--gray);
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  letter-spacing: 1.2px;
  padding-bottom: 4px;
  background-color: var(--white);
}

.sort-item {
  padding-bottom: 10px;
  margin-left: 20px;
}
