.account-box {
  margin: 0px 140px 40px 140px;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.title {
  font-family: var(--bold-italic-font-family);
  font-size: var(--extra-large-font-size);
}

.paragraph {
  text-align: center;
  width: 50%;
  margin-bottom: 60px;
}

.sub-nav {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1px solid var(--border);
  margin-bottom: 60px;
}

.sub-nav-title {
  color: var(--middle-gray);
  font-family: var(--main-font-family);
  font-size: var(--medium-font-size);
  position: relative;
}

.selected {
  font-family: var(--bold-font-family);
  color: var(--gray);
}

.sub-nav-title::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1px;
  bottom: 0;
  left: 50%;
  background-color: var(--gray);
  transition: width var(--animation-duration, 0.3s) ease,
    left var(--animation-duration, 0.3s) ease;
}

.sub-nav-title.selected::before {
  width: 100%;
  left: 0;
}
